<script type="text/javascript" src="/notify.min.js"></script>
<a href="/database">Go back</a>
<div>
	<div style="width: 205px; margin-right: 15px; background-color: #fff; float: left; min-height: 800px">
			<div>
				<input type="file" id="upload" style="display:none;" />
				<div id="upload-container" style="width:200px; height: 200px; margin-bottom: 10px; float: left; display: inline-block">
					<img style="width: 200px; max-width: 200px; border: 2px dashed #DDD; height: 200px" id="image" src="/empty_avatar.png">
					<div id="upload-btn" class="button" style="margin-top: 10px">Choose a photo</div>
					<p>Before choosing a photo, please read the <a href="">rules</a></p>
				</div>
			</div>
		<script>
			var cropper = null;
			
			var formData;
			
			$("#upload-btn").click(function() {
				document.getElementById('upload').click();
			});
			
			$("#upload").change(function() {
				var file = this.files[0];
				var reader = new FileReader();
				
				reader.onload = function(e) {
					$('.demo').show();
					// e.target.result holds image
					var image = document.getElementById('image');
					image.src = e.target.result;
					if(cropper == null) {
						cropper = new Cropper(image, {
							aspectRatio: 1,
							viewMode: 1,
							scalable: true,
							guides: false,
							minCropBoxWidth: 150,
							dragMode: 'crop'
						});
					}
					console.log(cropper);
				}
				reader.readAsDataURL(file);
			});
		</script>
	</div>
	<div style="width: 800px; background-color: #fff">
		<h2 style="height:12px">Resident Submission Form</h2>
		<input id="display_name" class="afield" placeholder="Display Name or Username" type="text" name="name" style="margin-top:5px; margin-bottom: 5px" id="username" value="">
		<textarea id="bio" rows="20" cols="60" placeholder="Bio information here" style="margin-bottom:5px"></textarea></br>
		<div id="submit-btn" class="button" style="width: 150px; float: left; display: inline-block">Submit</div>
		<script>
			$("#submit-btn").click(function() {
				formData = new FormData();
				cropper.getCroppedCanvas().toBlob(function (blob) {
					formData = new FormData();
					formData.append('name', $("#display_name")[0].value);
					formData.append('bio', $("#bio")[0].value);
					formData.append('image', blob);
					$.ajax({
						url: '/database/add', 
						method: 'POST',
						contentType: false,
						processData: false,
						data: formData,
						dataType: 'json'
					}).done(function(data) {
						if(data.error) {
							$.notify(data.error, 'error');	
						} else {
							window.location = '/database/resident/' + $("#display_name")[0].value;
						}
					});
				});
			});
		</script>
	</div>
</div>