<html>
<head>
<link rel="stylesheet" type="text/css" href="auth.css" />
</head>
<body>
	<div id="login">
		<div id="small-header">
			<img src="logo-300-2.png"/>
		</div>
	</br>
	<%= render partial: "layouts/notification" %>
	<div id="fields">
		<%= render @form %>
	</div>
		<div id="notification">
			<p><b>Did you know?</b></br>RollTier is a really cool person.</p>
		</div>
	</div>
</body>
</html>